name: Simple Python Calculator CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pytest
          pip install junit2html   # XML → HTML конвертация үшін

      - name: Run tests and generate XML report
        run: pytest --junitxml=report.xml

      - name: Convert XML report to HTML
        run: junit2html report.xml report.html

      - name: Upload HTML test report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-html-report
          path: report.html
